<div class="container form-container">
    <div class="col-md-6 col-12 mx-auto my-auto reactive-form">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <div class="row g-3">
                <div class="col-md-6 col-12">
                    <input id="first-name" type="text" formControlName="firstName" placeholder="First Name">
                </div>
                <div class="col-md-6 col-12">
                    <input id="surName" type="text" formControlName="lastName" placeholder="Surname">
                </div>
                <div class="col-12">
                    <input id="phone" type="tel" formControlName="phone" placeholder="Mobile Number">
                </div>
                <div class="col-12">
                    <input id="password" type="password" formControlName="password" placeholder="New password">
                </div>

                <!--Date select option start-->
                <div class="row my-1 g-3">
                    <label for="dateOfBirth" class="d-block">Date of birth?</label>
                    <div class="col-4" id="dateOfBirth">
                        <select id="day" formControlName="day">
                            <option value="" disabled selected>Select Day</option>
                            <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select id="month" formControlName="month">
                            <option value="" disabled selected>Select Month</option>
                            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                        </select>
                    </div>
                    <div class="col-4">

                        <select id="year" formControlName="year">
                            <option value="" disabled selected>Select a year</option>
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
                <!--Date select option start-->

                <!--Gender select option start-->
                <div class="row my-1 g-3" id="gender">
                    <label for="gender" class="d-block">Gender</label>
                    <div class="col-4 input-align">
                        <input type="radio" formControlName="gender" value="male">
                        <label for="male">Male</label>
                    </div>
                    <div class="col-4 input-align">
                        <input type="radio" formControlName="gender" value="female">
                        <label for="female">Female</label>
                    </div>
                    <div class="col-4 input-align">
                        <input type="radio" formControlName="gender" value="custom">
                        <label for="custom">Custom</label>
                    </div>
                </div>
                <!--Gender select option end-->

            </div>

            <button class="btn btn-success mt-3" type="submit" [disabled]="!profileForm.valid">Submit</button>
        </form>
    </div>
</div>